*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Arial, 'Times New Roman';
    background-color: white;
}
.header{
    background-color: rgb(21, 21, 70);
    color: white;
    text-align: center;
    padding: 30px;
}
.header nav a {
    color: white;
    margin: 5px 15px;
    text-decoration: none;
    font-weight: bold;
}
.section{
    width: 80%;
    margin: 40px auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.section h2 {
    border-left:5px solid blue;
    padding-left:10px;
}
.container {
    width: 90%;
    margin: 40px auto;
}

.title {
    font-size: 24px;
    border-left: 5px solid blue;
    padding-left: 10px;
    margin-bottom: 20px;
}

.course-list {
    display: flex;
    gap: 20px;
}

.course-card {
    background: white;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
.course-card h3 {
    margin-bottom: 10px;
}
.course-card p {
    color: #665d5d;
    margin-bottom: 15px;
}
.price {
    color: blue;
    font-weight: bold;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th , td {
    border: 1px solid #9e400d;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #5f99f0;
    color:white;
}
form input,form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
button{
    width:100%;
    padding:10px;
    background-color: blue;
    color:white;
    border:none;
    font-size:16px;
}
footer {
    background:black;
    color:white;
    text-align: center;
    padding: 15px;
}